<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.software.leanback" android:required="false" />
    <queries>
        <intent><action android:name="android.intent.action.VIEW" /><data android:mimeType="video/*" /></intent>
        <intent><action android:name="android.intent.action.VIEW" /><data android:mimeType="application/x-mpegURL" /></intent>
        <intent><action android:name="android.intent.action.VIEW" /><data android:mimeType="application/vnd.apple.mpegurl" /></intent>
        <intent><action android:name="android.intent.action.VIEW" /><data android:scheme="magnet" /></intent>
    </queries>
    <application android:largeHeap="true" android:usesCleartextTraffic="true">
        <activity
            android:name="com.lagradost.cloudstream3.ui.player.DownloadedPlayerActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboard|keyboardHidden|navigation"
            android:exported="false"
            android:resizeableActivity="true"
            android:screenOrientation="userLandscape"
            android:supportsPictureInPicture="true"
            android:launchMode="singleTask" />
        <activity
            android:name="com.lagradost.cloudstream3.apix.ApixLauncherActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboard|keyboardHidden|uiMode"
            android:exported="false"
            android:launchMode="singleTask" />
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="dataSync"
            tools:node="merge" />
        <activity android:name="com.lagradost.cloudstream3.ui.ControllerActivity" android:exported="false" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.movies.provider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/movies_provider_paths" />
        </provider>
    </application>
</manifest>
